include README.md CHANGELOG.md LICENSE src/pulsecot/VERSION src/pulsecot/data/*
graft src
recursive-include src/pulsecot/data *.csv *.txt *.json
recursive-include pulsecot/data *.csv *.txt *.json
include src/pulsecot/data *.csv *.txt *.json
